{%extends 'base.html'%}

{%block title%}Поиск по категории{%endblock title%}

{%block content%}
      <!-- Blog Entries Column -->

      <div class="col-md-8">
          {% for x in posts|slice:":1" %}

        <h1 class="my-4">Cтатьи в категории {{x.category}}</h1>

          {% endfor %}
          <hr>
          {% for post in posts %}

            <!-- Blog Post -->
            {%include 'includes/card.html'%}

          {% endfor %}

          <!-- Pagination -->
          {%include 'includes/pagination.html'%}

      </div>
{%endblock content%}
