{%extends 'base.html'%}

{%block title%}Поиск по названию{% endblock title%}

{%block content%}
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Cтатьи
          <small>Поиск по названию</small>
        </h1>
 {% for post in posts %}

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{post.picture.url}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.text|truncatechars:399}}</p>
            <a href="{% url 'post_view' post.id %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{post.created}} by
            <a href="">{{post.author}}</a>
          </div>
        </div>

{% endfor %}
        <!-- Pagination -->
        {%include 'includes/pagination.html'%}
      </div>
{% endblock content%}
