        <div class="card mb-4">
          <img class="card-img-top" src="{{post.picture.url}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.text|truncatechars:399}}</p>
            <a href="{% url 'post_view' post.slug %}" class="btn btn-primary">Читать дальше &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{post.created}} by
            <a href="{% url 'author_search' post.author.id %}">{{post.author}}</a>
          </div>
        </div>